<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add new book</title>
	</head>
	<body>
		<h2>Add new book</h2>
		<form action="#" th:action="@{savebook}" th:object="${book}" method="post">
			<label>Title: </label><input type="text" th:field="*{title}" /><br>
			<label>Author: </label><input type="text" th:field="*{author}" /><br>
			<label>Category: </label>
			 <select id="deplist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    		</select>
    		<br>
			<label>Year: </label><input type="text" th:field="*{year}" /><br>
			<label>ISBN: </label><input type="text" th:field="*{isbn}" /><br>
			<label>Price: </label><input type="text" th:field="*{price}" /><br>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>