<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Book list</title>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Lainat</h1>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome
			[[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<table class="table table-striped">
		<tr>
			<td><h4>Lainaaja</h4></td>
			<td><h4>Lainan Määrä</h4></td>
			<td><h4>Lainan tyyppi</h4></td>
<!-- 			<td><h4>ISBN</h4></td> -->
<!-- 			<td><h4>Year</h4></td> -->
<!-- 			<td><h4>Price</h4></td> -->
<!-- 			<td></td> -->
			<td>

				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-danger" />
				</form>

			</td>
		</tr>
		<tr th:each="laina : ${lainat}">
			<td th:text="${laina.asiakas.nimi}">Nimi</td>
			<td th:text="${laina.lainanMaara}">Määrä</td>
			<td th:text="${laina.lainatyyppi.name}">Lainatyyppi</td>
<!-- 			<td th:text="${laina.isbn}">ISBN</td> -->
<!-- 			<td th:text="${laina.year}">Year</td> -->
<!-- 			<td th:text="${laina.price}">Price</td> -->
			<td sec:authorize="hasAuthority('ADMIN')"><a
				th:href="@{/delete/{id}(id=${laina.id})}"><button
						class="btn btn-danger">Delete</button></a></td>
			<td><a th:href="@{/editlaina/{id}(id=${laina.id})}">Edit</a></td>
		</tr>
	</table>
	<a href="/addlaina"><button class="btn btn-success">Add
			laina</button></a>

</body>
</html>