<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kiva paneeli</title>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Asiakas lista</h1>
	<table class="table table-striped">
		<tr>
			<td><h4>Paneelit ja muut</h4></td>

		</tr>

		<tr>
			<td><a th:href="@{/asiakkaat}"><button
						class="btn btn-danger">Asiakkaat</button></a></td>
		</tr>
		<tr>
			<td><a th:href="@{/lainat}"><button
						class="btn btn-danger">Lainat</button></a></td>
		</tr>
		<tr>
			<td><a th:href="@{/lainatyypit}"><button
						class="btn btn-danger">Lainatyypit</button></a></td>
		</tr>
	</table>

</body>
</html>